/* nav related styles */
body{
    background-color: #fff;
    overflow-x: hidden;
}
.travel{
    color: #FF5400;
font-family: Mulish;
font-size: 36px;
font-weight: 800;

}
.zidan{
    color: #131318;
font-family: Mulish;
font-size: 36px;
font-weight: 800;
}
.home{
    color: #FF5400;
text-align: center;
font-family: Mulish;
font-size: 18px;
font-weight: 700;
}
nav{
display: flex;
justify-content: space-between;
}
nav h2{
    padding-right: 800px;
    display: inline;
}
nav a{
    text-decoration: none;
    color: #424247;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    padding-right: 130px;
}
nav li{
    display: flex;
    padding-right: 50px;
}
.banner-image img{
    padding-left: 135px;
}
/* banner related styles */
.banner{
    background-image:url('../Images/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    margin-left: 380px;

   width: 1170px;
   height: 500px;
    text-align: center;
}
.banner h2{
    padding-top: 110px;
    padding-bottom: 25px;
    color: #FFF;
font-family: Mulish;
font-size: 64px;
font-weight: 800;
}
.banner p{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.id{
    border-radius: 8px;
background: #FFF;
color: rgba(19, 19, 24, 0.50);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
width: 180px;

}
.dropdown{
    border-radius: 8px;
background: #FFF;
color: rgba(19, 19, 24, 0.50);
font-family: Mulish;
font-size: 16px;
font-weight: 400;
}
.banner form{
   
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    
}
.btn{
    color: #fbefef;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-weight: 700;
border-radius: 8px;
background: #FF5400;
padding: 5px 5px;
}
/* popular tour related styles */
.popular-tour{
  margin-top: 100px;
  display: flex;
}
.popular-tour img{
    margin-right: 135px;
}
.exclude{
    padding-left: 23px;
    
}
#read{
   margin-left: 140px;
}
.exclude h2{
    margin-left: 135px;
    color: #131318;


font-family: Mulish;
font-size: 40px;
font-weight: 800;
}
.tour{
    margin-left: 135px;
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.exclude li{
    margin-left: 135px;
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
}
.conclusion{
    margin-left: 135px;
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
/* destination related styles */

.destination{
    text-align: center;
}
.full{
    margin-top: 100px ;
}
/* location related styles */

.maldives{
    color: #FFF;
font-family: Mulish;
font-size: 28px;
font-weight: 800;
}
.maldives-img {
    padding-left: 100px;
   margin-left: 385px;
  
}
.indonesia{
 margin-left: 30px;
}
.indonesia-title{
    color: #fff;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    position: relative;
        left: 1300px;
        bottom: 190px;
}
.srilanka{
    color: #fff;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
position: relative;
left: 510px;
top: 200px;


}
.srilanka-img{
    margin-left: 400px;
}

.america{
    margin-left: 15px;
}
.north-america{
    color: #fff;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
position: relative;
left: 910px;
bottom: 210px;
}
.kashmir{
    color: #fff;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
position: relative;
left: 1400px;
bottom: 170px;

}
.kashmir-img{
    margin-left: 15px;
}
.bangla{
    margin-left: 400px;
}
.bangla-title{
    color: #fff;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
position: relative;
left: 550px;
bottom: 180px;
}
.bandor{
    margin-left: 15px;
}
.bandor-title{
    color: #fff;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
position: relative;
left: 1150px;
bottom: 230px;
}

/* choose related styles */
.choose{
    text-align: center;
}
.asol{
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
margin-right: 20px;
}
.display{
    display: flex;
    justify-content: center;
}
.second{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.third{
padding-left: 10px;
    border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background  : rgba(233, 68, 68, 0.05); width: 30%;
margin-left: 650px;
}

/* newsletter related styles */

form input{
    border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
color: rgba(19, 19, 24, 0.30);

font-family: Mulish;
font-size: 16px;
font-weight: 400;
width: 293px;
height: 32px;

}
.newsletter{
    background-color: #fff;
    border-radius: 16px;
border: 1px solid #FF5400;
text-align: center;
width: 474px;
height: 422px;
margin-top: 53px;

}
.name{
    margin-top: 15px;
}
.email{
    margin-top: 10px;
}
#submit{
    margin-top: 15px;
    margin-bottom: 0px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.last{
    margin-top: 60px;
    margin-left: 25px;
}
.save{
    text-align: center;
    width: 325px;
    height: 120px;
    border-radius: 16px;
background: #FF5400;
position: absolute;
bottom: -2800px;
left: 1200px;

}

footer{
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
    margin-top: 50px;
    width: 1440px;
    height: 260px;
    margin-left: 200px;
}
.icon{
    position: relative;
    right: 130px;
    top: 70px;
}
/* mobile device responsive */
@media screen and (max-width:600px) {
body{
    overflow-x: hidden;
}
body img{
    overflow-x: hidden;
}
    
    nav{
        flex-direction: column;
        text-align: center;
        max-width: 100%;
        overflow-x:hidden ;
        margin:0px 0px
    }
    nav li{
        padding-top: 10px;
    }
    nav ul{
        flex-direction: column;
        padding-left: 200px;
        margin: 0px 0px;
       
    }
    nav h2{
        text-align: center;
        display: flex;
        align-items: center;
        padding-left: 100px;
      
    }
    .banner-image img{
padding-right: 10px;
margin: 0px 0px;
position: relative;
right: 200px;
top: 70px;
overflow-x:hidden ;
    }
    .banner{
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        height:100%;
        margin-bottom: 100px;
        
       
    }
    .banner form{
      display: flex;
      flex-direction: column;
      padding-bottom: 300px;
      width: 250px;
    padding-left: 80px;
 
    }
    .banner h2{
        padding-top: 300px;
    }
    .banner input, .banner select{
        padding-top: 10px;
    }
    .popular-tour{
        flex-direction: column;
        margin-right: 0p;
    }
    .popular-tour img{
       width: 335px;
       height: 342px;
     margin-left: 40px;
    }
    .exclude{
     margin-bottom: 100px;
     margin-top: 0px;
     

    }
    .exclude h2{
   margin-left: 0px;
    }
    .popular-tour h2{
       
    }
    .tour{
        margin-left: 0px;
    }
    .exclude li{
        margin-left: 0px;
    }
    .conclusion{
        margin-left: 0px;
    }
    #read{
        margin-left: 20px;
    }
    .all img{
        width: 100%;
        margin-right: 0px;
        overflow-x: hidden;
       
    }
    .maldives-img  {
        padding-left: 0px;
        margin-left: 0px;
    
        padding-bottom: 10px;
    }
    .indonesia{
        margin-left: 0px;
    
        max-height: 100%;
       }
       .srilanka-img{
        margin-left: 0px;
        
        padding-bottom: 10px;
    }
    .america{
        margin-left: 0px;
        
    }
    .kashmir-img{
        margin-left: 0px;
    }
    .bangla{
        margin-left: 0px;
    }
    .bandor{
        margin-left: 0px;
    }
    .all h2{
        display: none;
    }
    .display{
        flex-direction: column;

    }
    .third{
        margin-left: 0px;
        width: 100%;
    }
    .asol{
        width: 100%;
        margin-left: 0px;
        overflow-x: hidden;

    }
    .second{
        width: 100%;
        margin-left: 0px;
    }
    .overflow{
        overflow-x: hidden;
    }
    .flex{
        flex-direction: column;
        overflow-x: hidden;
     
    }
    .newsletter{
        height: 100%;
        width: 100%;
        
    }
    .last{
        width: 100%;
       
    }
    .save{
        left: 20px;
        bottom: -5500px;
    }
   footer{
flex-direction: column;
margin-top: 50px;
width: 100%;
height: 100%;
margin-left: 0px;
   }
}